body{
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#mouse-follow {
    height: 50px;
    width: 50px;
    background-color:darkgray;
    border-radius: 100%;
    margin-bottom: 20px;
    position: absolute;
    z-index: +20;
}

#poster-container {
    width: 100%;
    height: 100%;
}

#be {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 0px;
    margin-left: 20px;
    height: 300px;
    display: flex;
    flex-direction: column-reverse
}

#yo {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 150px;
    left: 560px;
}

#n {
    font-family: "Niconne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 157px;
    left: 1012px;
}

#d {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 150px;
    left: 1260px;
}

#bi {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 470px;
    left: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#as {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-size: 300px;
    position: absolute;
    top: 470px;
    left: 1060px;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#international {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 255px;
    left: 190px;
}

#lecture {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 315px;
    left: 380px;
}

#series {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 375px;
    left: 470px;
}

#date-1 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    left: 450px;
}

#date-2 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    left: 1195px;
}

#date-3 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 590px;
    rotate: -90deg;
    left: -104px;
}

#date-4 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 738px;
    left: 550px;
}

#shima {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 440px;
    right: 290px;
}

#maria {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 465px;
    right: 290px;
}

#isabel {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 490px;
    right: 290px;
}

#daniel {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    position: absolute;
    top: 515px;
    right: 290px;
}

#being {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 315px;
    left: 100px;
    z-index: +10;
}

#there {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 375px;
    left: 200px;
    z-index: +10;
}

#bio-1 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    margin-left: 750px;
    margin-right: 340px;
    text-align: left;
    z-index: +10;
}

#lecture-info-1 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 445px;
    margin-left: 100px;
    margin-right: 1000px;
    z-index: +10;
}

#contesting {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 315px;
    left: 95px;
    z-index: +10;
}

#the-colonial-eye {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 375px;
    left: 95px;
    z-index: +10;
}

#bio-2 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    margin-left: 750px;
    margin-right: 340px;
    text-align: left;
    z-index: +10;
}

#lecture-info-2 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 445px;
    margin-left: 100px;
    margin-right: 1000px;
    z-index: +10;
}

#inclusive {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 315px;
    left: 95px;
    z-index: +10;
}

#communities {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 375px;
    left: 95px;
    z-index: +10;
}

#bio-3 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    margin-left: 750px;
    margin-right: 330px;
    text-align: left;
    z-index: +10;
}

#lecture-info-3 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 445px;
    margin-left: 100px;
    margin-right: 965px;
    z-index: +10;
}

#branches {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    position: absolute;
    top: 375px;
    left: 95px;
    z-index: +10;
}

#bio-4 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 25px;
    margin-left: 750px;
    margin-right: 330px;
    text-align: left;
    z-index: +10;
}

#lecture-info-4 {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: absolute;
    top: 445px;
    margin-left: 100px;
    margin-right: 990px;
    z-index: +10;
}

#horizontal-line-1 {
    position: absolute;
    top: 5px;
    opacity: 20%;
}

#horizontal-line-2 {
    position: absolute;
    top: 215px;
    opacity: 20%;
}

#horizontal-line-3 {
    position: absolute;
    top: 425px;
    opacity: 20%;
}

#horizontal-line-4 {
    position: absolute;
    top: 535px;
    opacity: 20%;
}

#horizontal-line-5 {
    position: absolute;
    top: 745px;
    opacity: 20%;
}

#vertical-line-1 {
    position: absolute;
    left: -684px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-2 {
    position: absolute;
    left: -475px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-3 {
    position: absolute;
    left: -316px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-4 {
    position: absolute;
    left: -212px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-5 {
    position: absolute;
    left: -154px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-6 {
    position: absolute;
    left: 343px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

#vertical-line-7 {
    position: absolute;
    left: 755px;
    rotate: 90deg;
    top: 40px;
    opacity: 20%;
}

.appear-1 {
    opacity: 0%;
}

.appear-2 {
    opacity: 0%;
}

.appear-3 {
    opacity: 0%;
}

.appear-4 {
    opacity: 0%;
}

.grid-appear {
    opacity: 0;
}